.header {
  display: flex;
  flex-direction: column;
  background-color: #115B09;
  margin: 0 auto;
  padding: .5rem;
}

.header-menu-container {
  text-align: left;
}

.header-logo-container {
  display: flex;
  justify-content: center;
}

.header-links {
  display: flex;
}

.header-links > a {
  margin: .5rem;
  text-decoration: none;
  color: aliceblue;
}

.header-logo {
  max-height: 150px;
}