.contact-container {
  background-color: white;
  padding-bottom: 4rem;
}

.contact-title {
  color: white;
}

.contact-container > p {
  color: #115B09;
}

.contact-social-container {
  margin: 4rem auto 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}

.contact-social-container > a {
  text-decoration: none;
  margin-bottom: 2rem;
  color: #115B09;
  font-weight: 500;
}

.bottom-image {
  width: 100%;
}