

.header-link {
  text-decoration: none;
  color: white;
  margin: 0 auto;
}

.header-dropdown-menu {
  background-color: #115B09;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding-top: 4rem;
  left: 0;
  text-align: center;
}

.header-dropdown-menu > ul {
  list-style: none;
  padding: 0;
}

.header-dropdown-menu > ul > li {
  margin: 0.5rem;
}

.header-dropdown-menu-links {
  text-decoration: none;
  color: white;
  padding: .1rem 0 1rem 0;
}

hr {
  max-width: 80% ;
  color: white;
}

.header-hide-dropdown {
  display: none;
}

.menu-img {
  margin: 1rem 0 5rem 0;
  max-width: 4rem;
}

.menu-list {
  padding: 1rem 0;
}